<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/grids.css" />
    <link rel="stylesheet" href="/buttons.css" />
    <link rel="stylesheet" href="/forms.css" />
    <link rel="stylesheet" href="/tables.css" />
    <link rel="stylesheet" href="/menus.css" />
    <link rel="stylesheet" href="/style.css" />
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
	<div id="header">
		<div class="pure-g">
			<div class="pure-u-4-24 ">
				<a href="/"><img src="/logo.png" /></a>
			</div>
			<div class="pure-u-20-24">
				<h1>CAPSHER Code Challenge</h1>
			</div>
		</div>
    </div>

    <div class="pure-g">
        <div id="buffer-left" class="pure-u-1-24"></div>
        <div id="content" class="pure-u-15-24">{% block content %}{% endblock %}</div>
        <div id="buffer-middle" class="pure-u-1-24"></div>

        <div id="scoreboard" class="pure-u-7-24">
            <h2 style="text-align: center;">Scoreboard</h2>
            <table class="pure-table pure-table-horizontal">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Team Name</th>
                        <th>Total Points</th>
                    </tr>
                </thead>
                
                <tbody>
                    {% for teamname, points_total in team_points_total %}
                        {% if points_total > 0 %}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td>{{ teamname }}</td>
                            <td>{{ points_total }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
    <div id="footer">
    </div>
</body>
</html>
