<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/grids.css" />
    <link rel="stylesheet" href="/buttons.css" />
    <link rel="stylesheet" href="/forms.css" />
    <link rel="stylesheet" href="/tables.css" />
    <link rel="stylesheet" href="/menus.css" />
    <link rel="stylesheet" href="/style.css" />
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
	<div id="header">
		<div class="pure-g">
			<div class="pure-u-4-24 ">
				<a href="/"><img src="/logo.png" /></a>
			</div>
			<div class="pure-u-20-24">
				<h1>CAPSHER Code Challenge</h1>
			</div>
		</div>
    </div>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
    </div>
</body>
</html>
