<html>
	<head>
		<title>CAPSHER Code Challenge - {{ problem.name }}</title>
	</head>
	<body>
		<h1>{{ problem.name }}</h1>
		<div> {{ problem.instructions }} </div>
		<br>
		
		<form action="" method="post" enctype="multipart/form-data">
			<div style="width:600px">
				Email:
				<input type="text" name="email">
			</div>
			<div style="width:600px">
				Output file:
				<input type="file" name="output_file">
			</div>
			<div>
				<input type="submit" value="Submit">
			</div>
		</form>
		
		<br>
		
		<h2>Scores</h2>
		<ul>
			{% for score in problem.scores %}
			<li>{{ score.email }}: {{ score.score }}</li>
			{% endfor %}
		</ul>
	</body>
</html>
