{% extends "base.html" %}

{% block title %}CAPSHER Code Challenge - {{ problem.name }}{% endblock %}

{% block content %}
	<h1>{{ problem.name }}</h1></div>
	<div> {{ problem.instructions }} </div>
	<br/>
	
	<form class="pure-form pure-form-stacked" action="" method="post" enctype="multipart/form-data">
		<fieldset>
			<div style="margin-bottom: 15px;">
				<label for="email">Email</label>	
				<input id="email" type="email" name="email">
			</div>
				
			<div style="margin-bottom: 15px;">
				<label for="output_file">Output file</label>
				<input id="output_file" type="file" name="output_file">
			</div>
			
			<button type="submit" class="pure-button pure-button-primary">Submit</button>
		</fieldset>
	</form>
	
	<br>
	
	<h2>Scores</h2>
	<table class="pure-table pure-table-horizontal">
		<thead>
			<tr>
				<th>#</th>
				<th>Email</th>
				<th>Score</th>
			</tr>
		</thead>
		
		<tbody>
			{% for attempt in high_scoring_attempts %}
			<tr>
				<td>{{loop.index}}</td>
				<td>{{ attempt.email }}</td>
				<td>{{ attempt.score }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</ul>
{% endblock %}
