{% extends "base.html" %}

{% block title %}CAPSHER Code Challenge - {{ puzzle.name }}{% endblock %}

{% block content %}
	<h1>{{ puzzle.name }} (CLOSED)</h1>
	<div> {{ puzzle.instructions|safe }} </div>
	
	<!-- Buffer -->
	<div style="height: 30px"></div>

	<div class="problems">
		{% for problem in puzzle.problems %}
			<div class="problem">
				<hr/>

				<strong>{{ problem.name }}</strong> - {{ problem.description }}

				<!-- Buffer -->
				<div style="height: 10px"></div>
				
				<table class="pure-table pure-table-horizontal">
					<thead>
						<tr>
							<th>#</th>
							<th>Team Name</th>
							<th>Score</th>
						</tr>
					</thead>
					
					<tbody>
						{% for attempt in problem.get_best_attempts() %}
						<tr>
							<td>{{loop.index}}</td>
							<td>{{ attempt.teamname }}</td>
							<td>{{ attempt.score }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>

				<!-- Buffer -->
				<div style="height: 40px"></div>
			</div>
		{% endfor %}
	</div>
	
	<hr/>

    <div>
        <h2>Puzzle Points</h2>
        <table class="pure-table pure-table-horizontal">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Team Name</th>
                    <th>Points</th>
                </tr>
            </thead>
            
            <tbody>
                {% for teamname, points_total in puzzle_point_totals %}
                    {% if points_total > 0 %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{ teamname }}</td>
                        <td>{{ points_total }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
